.task {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2px;
}
.task_button {
  background-color: white;
  border: 2px solid #fd292f;
}
.task_text {
  border: 2px solid #fd292f;
  color: #fd292f;
  border-radius: 5px;
  min-width: 80%;
  max-width: 80%;
  padding: 2px;
  min-height: 3em;
  word-wrap:break-word;
}
.task_button__active {
  border-color: #c5b0a2;
  transition: 0s;
}

.task_button__active::before {
  content: "✔";
  color: #c5b0a2;
  display: block;
  float: left;
  max-width: 35px;
  margin-top: -5px;
  margin-left: 3px;
}

.task_text{
  padding: 13px 5px 0;
  overflow:hidden;
}

.task_text__active {
  border-color: #c5b0a2;
  color: #c5b0a2;
}
