:root {
  --full_circle: 100%;
}
.work{
  --color_circle: #fd292f;
  --color_round: #B20000;
}
.breakup{
  --color_circle: #C4F250;
  --color_round: #88ad00;
}

.timer{
  margin: 50px;
}

.pomodoro {
  display: flex;
  flex-direction: column; 
  align-items: center;
  min-width: 100%;
  padding: 30px;
  overflow: hidden;
}

.pomodoro_tomato {
  width: 15vw;
  height: 15vw;
  border: 2px solid #fef4c0;
  transform: scale(-1, 1);
  overflow: hidden;
  border-radius: 50%;
  background: conic-gradient(var(--color_circle) var(--full_circle), transparent 0);
}

.pomodoro_counterRounds{
  width: 3vw;
  height: 3vw;
  line-height: 3vw;
  transform: scale(-1, 1);
  overflow: hidden;
  border-radius: 50%;
  background: conic-gradient(var(--color_round) 100%, transparent 0);
  color: var(--color_circle);
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.pomodoro_button {
  min-width: 100%;
  text-align: center;
  overflow: hidden;
}

.pomodoro_buttonOption {
  min-width: 90px;
}

.pomodoro_time {
  cursor: pointer
}

.pomodoro_drop {
  width: 3vw;
  height: 3vw;
  border-radius: 0 50% 50% 50%;
  background-color: var(--color_circle);
  transform: rotate(270deg);
  margin: 0 0 10px 60px;
  display: flex;
}

.pomodoro_timeline {
  border: 2px solid #fef4c0;
  margin-right: 5px;
  background-color: #fef4c0;
  transform: rotate(270deg);
}

.options {
  color: "#fe8535";
}

.pomodoro_reset {
  text-align: center;
  overflow: hidden;
  background-color: #fd292f;
}

.pomodoro_round {
  display: none;
  transform: rotate(90deg);
  color: white;
  justify-content: center;
  font-size: 1.5em;
  
}

.pomodoro__inactive {
  background-color: #c5b0a2;
  cursor: default;
}
.pomodoro_time__inactive {
  cursor: default;
}

.pomodoro_work, .pomodoro_repeat, .pomodoro_breakup{
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
}

.pomodoro_work:hover, .pomodoro_repeat:hover, .pomodoro_breakup:hover{
  scale: 1.1;
}

.pomodoro_options_text{
  display: flex;
  width: 100%;
  justify-content: center;
}